= javascript_include_tag 'js/tag_input.js'
= form_for '@book', url: {controller: 'books', action: 'update'}, method: 'patch' do |f|
  %table
    %tbody
      %tr
        %td
          = f.label :name, '名前'
        %td
          = f.text_field :name, value: @book.name
      %tr
        %td
          = f.label :author, '著者'
        %td
          = f.text_field :author, value: @book.author
      %tr
        %td
          = f.label :publisher, '出版社'
        %td
          = f.text_field :publisher, value: @book.publisher
      %tr
        %td
          = f.label :tag, 'タグ'
        %td
          %ul{style: 'list-style-type: none;'}
            - 5.times do |i|
              %li
                %input{type: 'text', class: 'tags', name: 'tags[]', value: @tag[i].tap{|t| unless t.nil? then break t.name end } }
      %tr
        %td
          = f.label :price, '価格'
        %td
          = f.text_field :price, value: @book.price
  = f.submit 'submit'
