%link{:href => "http://code.jquery.com/ui/1.10.3/themes/cupertino/jquery-ui.min.css", :rel => "stylesheet", :type => "text/css"}/
%script{:src => "http://code.jquery.com/jquery-1.10.2.min.js", :type => "text/javascript"}
%script{:src => "http://code.jquery.com/ui/1.10.3/jquery-ui.min.js", :type => "text/javascript"}
  
= javascript_include_tag 'js/tag_input.js'
= form_for '@book', url: {controller: 'books', action: 'create'} do |f|
  %table
    %tbody
      %tr
        %td
          = f.label :name, '名前'
        %td
          = f.text_field :name
      %tr
        %td
          = f.label :author, '著者'
        %td
          = f.text_field :author
      %tr
        %td
          = f.label :publisher, '出版社'
        %td
          = f.text_field :publisher
      %tr
        %td
          = f.label :tag, 'タグ'
        %td
          %ul
            - 5.times do
              %li
                %input{type: 'text', class: 'tags', name: 'tags[]'}
      %tr
        %td
          = f.label :price, '価格'
        %td
          = f.text_field :price
      %tr
        %td
          = f.label :upload_file, 'ファイル'
        %td
          = f.file_field:upload_file
  = f.submit 'submit'
