= form_for '@book' do |f|
  %div
    = f.label :name, 'Name'
    = f.text_field :name
  %div
    = f.label :author, 'Author'
    = f.text_field :author
  %div
    = f.label :publisher, 'Publisher'
    = f.text_field :publisher
  %div
    = f.label :category_id, 'Category'
    = f.select :category_id, {"hoge" => 1, "fuga" => 2}, :include_blank => true
  %div
    = f.label :price, 'Price'
    = f.text_field :price
  %div
    = f.submit 'submit'
