= javascript_include_tag 'js/tag_input.js'

%h3#title 書籍登録
= form_for '@book', url: {controller: 'books', action: 'create'} do |f|
  %table.input-table
    %tbody
      %tr
        %th
          = f.label :name, '名前'
        %td
          = f.text_field :name
      %tr
        %th
          = f.label :author, '著者'
        %td
          = f.text_field :author
      %tr
        %th
          = f.label :publisher, '出版社'
        %td
          = f.text_field :publisher
      %tr
        %th
          = f.label :tag, 'タグ'
          %p
            %input{type: 'button', class: 'add_tag', value: '追加'}
            %input{type: 'button', class: 'remove_tag', value: '削除'}
        %td
          %ul{ id: 'input_taglist', style: 'list-style-type: none;'}
            %li
              %input{type: 'text', class: 'tags', name: 'tags[]'}
      %tr
        %th
          = f.label :price, '価格'
        %td
          = f.text_field :price
      %tr
        %th
          = f.label :upload_file, 'ファイル'
        %td
          = f.file_field:upload_file
  %p.submit= f.submit '登録'
