= form_for '@book', :url => {:controller => 'books', :action => 'create'} do |f|
  %table
    %tbody
      %tr
        %td
          = f.label :name, 'Name'
        %td
          = f.text_field :name
      %tr
        %td
          = f.label :author, 'Author'
        %td
          = f.text_field :author
      %tr
        %td
          = f.label :publisher, 'Publisher'
        %td
          = f.text_field :Publisher
      %tr
        %td
          = f.label :category_id, 'Category'
        %td
          = f.text_field :category_id
      %tr
        %td
          = f.label :price, 'Price'
        %td
          = f.text_field :price
  = f.submit 'submit'
