=javascript_include_tag 'js/tag_search.js'

%h1
  タグ一覧
= form_for '@tag', html: {autocomplete: 'off'}, url: {controller: 'tags', action: 'create'} do |f|
  = p '検索'
  = f.text_field :name
  = f.submit '新規登録'
  %p{style: 'margin-left: 20px'} ※半角スペースでor検索になります

= search_form_for @b do |frm|
  %table{ class: 'tag_list' }
    %thead
      %tr
        %th{style: 'text-align: left;'} タグ名
    %tbody
  = button_to 'チェックを付けたタグで検索'
