
%html
  %head
    %title EBookShare
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          %a.btn.btn-navbar(data-target=".nav-collapse" data-toggle="collapse")
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.brand(href="#") EBookShare
          .container.nav-collapse
            %ul.nav
              %li= link_to "新規登録", "/books/new"
      .container
        .row
          .span9
            = bootstrap_flash
            = yield